In [26]:
import pandas as pd
import json

In [27]:
RealPropertyMaster=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/bnx9-e6tj.json")

In [28]:
list(RealPropertyMaster)

['crfn',
 'doc_type',
 'document_amt',
 'document_date',
 'document_id',
 'good_through_date',
 'modified_date',
 'percent_trans',
 'record_type',
 'recorded_borough',
 'recorded_datetime',
 'reel_nbr',
 'reel_pg',
 'reel_yr']

In [52]:
RealPropertyMaster.head()

,crfn,doc_type,document_amt,document_date,document_id,good_through_date,modified_date,percent_trans,record_type,recorded_borough,recorded_datetime,reel_nbr,reel_pg,reel_yr
0,2017000085716,AGMT,189000.0,2017-02-17T00:00:00,2017022400727004,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,1,2017-03-03T00:00:00,0,0,0
1,2017000085697,AGMT,284710.0,2017-02-11T00:00:00,2017022800251001,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,1,2017-03-03T00:00:00,0,0,0
2,2017000085693,AGMT,555000.0,2016-10-31T00:00:00,2016110701392006,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,3,2017-03-03T00:00:00,0,0,0
3,2017000085690,AGMT,10789850.0,2016-10-28T00:00:00,2016110701392003,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,3,2017-03-03T00:00:00,0,0,0
4,2017000085686,AGMT,665000.0,2017-02-14T00:00:00,2017030300360003,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,1,2017-03-03T00:00:00,0,0,0

In [ ]:
#useful for having document ID, record type, date of transaction, and amount

In [29]:
RealPropertyLegal=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/8h5j-fqxa.json")

In [54]:
RealPropertyLegal.head()

,addr_unit,air_rights,block,borough,document_id,easement,good_through_date,lot,partial_lot,property_type,record_type,street_name,street_number,subterranean_rights
0,NaN,N,3716,2,2017032600011001,N,2017-03-31T00:00:00,50,E,D4,L,MANOR AVENUE,1039,N
1,NaN,N,3162,2,2017031001284002,N,2017-03-31T00:00:00,17,E,AP,L,CRESTON AVENUE,2200,N
2,1208,N,44,1,2017031000227002,N,2017-03-31T00:00:00,1154,E,SC,L,PINE STREET,18,N
3,1207,N,44,1,2017031000227002,N,2017-03-31T00:00:00,1153,E,SC,L,PINE STREET,20,N
4,1208,N,44,1,2017031000227001,N,2017-03-31T00:00:00,1154,E,SC,L,PINE STREET,20,N

In [30]:
list(RealPropertyLegal)

['addr_unit',
 'air_rights',
 'block',
 'borough',
 'document_id',
 'easement',
 'good_through_date',
 'lot',
 'partial_lot',
 'property_type',
 'record_type',
 'street_name',
 'street_number',
 'subterranean_rights']

In [ ]:
#has the address fo the property--tied to everything through the document ID

In [31]:
RealPropertyParties=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/636b-3b5g.json")

In [32]:
type(RealPropertyParties)

pandas.core.frame.DataFrame

In [33]:
list(RealPropertyParties)

['address_1',
 'address_2',
 'city',
 'country',
 'document_id',
 'good_through_date',
 'name',
 'party_type',
 'record_type',
 'state',
 'zip']

In [ ]:
#very import as we have the two parties that the transaction belongs to and zip code

In [83]:
RealPropertyParties.head(50)

,address_1,address_2,city,country,document_id,good_through_date,name,party_type,record_type,state,zip
0,974 E 104TH STREET,NaN,BROOKLYN,US,2017033001125002,2017-03-31T00:00:00,"UWAKWE, STELLA",1,P,NY,11236.0
1,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017033001125002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,11236.0
2,C/O EAST COAST HOLDINGS,1379 CONEY ISLAND AVENUE,BROOKLYN,US,2017032901036003,2017-03-31T00:00:00,18TH REALTY LLC,1,P,NY,11230.0
3,C/O EAST COAST HOLDINGS,1379 CONEY ISLAND AVENUE,BROOKLYN,US,2017032901036003,2017-03-31T00:00:00,1039 OCEAN AVENUE REALTY LLC,1,P,NY,11230.0
4,"275 7TH AVENUE, 14TH FLOOR",NaN,NEW YORK,US,2017032901036003,2017-03-31T00:00:00,AMALGAMATED BANK,2,P,NY,10001.0
5,2323 31ST AVE APT 5A,NaN,ASTORIA,US,2017032900792002,2017-03-31T00:00:00,JUAN MIGUEL MOSQUERA,1,P,NY,11106.0
6,2323 31ST AVE APT 5A,NaN,ASTORIA,US,2017032900792002,2017-03-31T00:00:00,"MOSQUERA, HANNAH M",1,P,NY,11106.0
7,1111 POLARIS PARKWAY,NaN,COLUMBUS,US,2017032900792002,2017-03-31T00:00:00,JPMORGAN CHASE BANK NA,2,P,OH,43240.0
8,"49 NORTH 8TH STREET, 4E",NaN,BROOKLYN,US,2017022700860003,2017-03-31T00:00:00,"BURKAN, JONAHTAN",1,P,NY,11249.0
9,"49 NORTH 8TH STREET, 4E",NaN,BROOKLYN,US,2017022700860003,2017-03-31T00:00:00,"BURKAN, JONATHAN W",1,P,NY,11249.0
10,"49 NORTH 8TH STREET, 4E",NaN,BROOKLYN,US,2017022700860003,2017-03-31T00:00:00,"BURKAN, KIMBERLY",1,P,NY,11249.0
11,1901 E VOORHEES STREET SUITE C,NaN,DANVILLE,US,2017022700860003,2017-03-31T00:00:00,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC,2,P,IL,61834.0
12,"3611 14TH AVENUE, SUITE 603",NaN,BROOKLYN,US,2017032901331003,2017-03-31T00:00:00,660 HEGEMAN ASSOCIATES LLC,1,P,NY,11218.0
13,"200 LIBERTY STREET, 17TH FLOOR",NaN,NEW YORK,US,2017032901331003,2017-03-31T00:00:00,"SANTANDER BANK, N.A.",2,P,NY,10281.0
14,236 BEACH 147TH STREET,NaN,ROCKAWAY PARK,US,2017033001112002,2017-03-31T00:00:00,"MCGOVERN, JAMES",1,P,NY,11694.0
15,236 BEACH 147TH STREET,NaN,ROCKAWAY PARK,US,2017033001112002,2017-03-31T00:00:00,"MCGOVERN, LILLIAN",1,P,NY,11694.0
16,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017033001112002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,11694.0
17,191-20 115TH DRIVE,NaN,SAINT ALBANS,US,2017033001110001,2017-03-31T00:00:00,"WICKHAM, LESIA",1,P,NY,11412.0
18,191-20 115TH DRIVE,NaN,SAINT ALBANS,US,2017033001110001,2017-03-31T00:00:00,"SMITH, VIOLET",1,P,NY,11412.0
19,191-20 115TH DRIVE,NaN,SAINT ALBANS,US,2017033001110001,2017-03-31T00:00:00,"FULLER, MARLENE JOLLY",1,P,NY,11412.0
20,4801 FREDERICA ST,NaN,OWENSBORO,US,2017033001110001,2017-03-31T00:00:00,US BANK NA,2,P,KY,42301.0
21,1248-49TH ST 1A,NaN,BROOKLYN,US,2017033000996001,2017-03-31T00:00:00,"ROSEN, SHIYE",1,P,NY,11219.0
22,1248-49TH ST 1A,NaN,BROOKLYN,US,2017033000996001,2017-03-31T00:00:00,"ROSEN, YEHUDIS",1,P,NY,11219.0
23,4655 SALISBURY ROAD STE 250,NaN,JACKSONVILLE,US,2017033000996001,2017-03-31T00:00:00,PLAZA HOME MORTGAGE INC.,2,P,FL,32256.0
24,P.O. BOX 2026,NaN,FLINT,US,2017033000996001,2017-03-31T00:00:00,MERS,2,P,MI,48501.0
25,10132 93RD STREET,NaN,OZONE PARK,US,2017033000890002,2017-03-31T00:00:00,"MULLEN, DERRICK G",1,P,NY,11416.0
26,1000 TECHNOLOGY DRIVE,NaN,OFALLON,US,2017033000890002,2017-03-31T00:00:00,CITIBANK NA,2,P,MO,63368.0
27,214-44 40TH AVENUE,NaN,BAYSIDE,US,2016111800102003,2017-03-31T00:00:00,"YOO, THOMAS",1,P,NY,11361.0
28,214-44 40TH AVENUE,NaN,BAYSIDE,US,2016111800102003,2017-03-31T00:00:00,"YOO, JI YOUN",1,P,NY,11361.0
29,1000 TECHNOLOGY DRIVE,NaN,O'FALLON,US,2016111800102003,2017-03-31T00:00:00,"CITIBANK, NA",2,P,MO,63368.0
30,ONE PORTLAND SQUARE,NaN,PORTLAND,US,2017033000418002,2017-03-31T00:00:00,"TD BANK, N.A.",2,P,ME,4101.0
31,185 INTERNATIONAL DRIVE,NaN,PORTSMOUTH,US,2017032101228003,2017-03-31T00:00:00,SPRAGUE OPERATING RESOURCES LLC,1,P,NH,3801.0
32,71 LAIGHT STREET,NaN,NEW YORK,US,2017032000560001,2017-03-31T00:00:00,THE STERLING MASON,1,P,NY,10013.0
33,88 FRANKLIN STREET,NaN,NEW YORK,US,2017031300799001,2017-03-31T00:00:00,"88 FRANKLIN STREET GROUP, LLC",1,P,NY,10013.0
34,301 CATHEDRAL PARKWAY,NaN,NEW YORK,US,2017020600947002,2017-03-31T00:00:00,BOARD OF MANAGERS TOWERS ON THE PARK CONDOMINIUM,1,P,NY,10026.0
35,301 CATHEDRAL PARKWAY,NaN,NEW YORK,US,2017020600947001,2017-03-31T00:00:00,BOARD OF MANAGERS TOWERS ON THE PARK CONDOMINIUM,1,P,NY,10026.0
36,2 NORTHSIDE PIERS,NaN,BROOKLYN,US,2017031500476001,2017-03-31T00:00:00,THE 2 NORTHSIDE PIERS CONDOMINIUM,1,P,NY,11211.0
37,240 EAST 47TH STREET,NaN,NEW YORK,US,2017010301557001,2017-03-31T00:00:00,DAG HAMMARASKJOLD TOWER CONDOMINUM,1,P,NY,10017.0
38,350 SEVENTH AVENUE SUITE 1604,NaN,NEW YORK,US,2017030100743001,2017-03-31T00:00:00,500 WAVERLY PROPERTY OWNER L.L.C.,1,P,NY,10001.0
39,"51 EAST 12TH STREET, 7TH FLOOR",NaN,NEW YORK,US,2017030700964001,2017-03-31T00:00:00,ATLANTIC PACIFIC DEVELOPMENT PARTNERS LLC,1,P,NY,10003.0
40,"138 UNION STREET, #B",NaN,BROOKLYN,US,2017030100496001,2017-03-31T00:00:00,340 DEAN ST. LLC,1,P,NY,11231.0
41,"CONDOMINIUM, 1143-1145 45TH STREET",NaN,BROOKLYN,US,2017022701682001,2017-03-31T00:00:00,THE BOARD OF MANAGERS OF THE 1143-1145 45TH ST...,1,P,NY,11219.0
42,111-33 148TH STREET,NaN,JAMAICA,US,2017032901191001,2017-03-31T00:00:00,"SADIK, MOHOMED L",1,P,NY,11435.0
43,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032901191001,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,MN,55467.0
44,2100 ROSS AVENUE,SUITE 2500,DALLAS,US,2017033000993001,2017-03-31T00:00:00,THE PRUDENTIAL INSURANCE COMPANY OF AMERICA,1,P,TX,75201.0
45,650 LIBERTY AVENUE,NaN,UNION,US,2017033000993001,2017-03-31T00:00:00,BED BATH & BEYOND INC.,2,P,NJ,10022.0
46,110 EAST 59TH STREET,NaN,NEW YORK,US,2017033000993001,2017-03-31T00:00:00,"250 HUDSON STREET, LLC",2,P,NY,10022.0
47,225 EASTERN UNIT 1C,NaN,BROOKLYN,US,2017033000884003,2017-03-31T00:00:00,"CLARK, KEISHA",1,P,NY,11238.0
48,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017033000884003,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,57104.0
49,2872 86TH STREET UNIT 1D,NaN,BROOKLYN,US,2017033000831002,2017-03-31T00:00:00,"ALPUCHE, MARIA",1,P,NY,11223.0

In [115]:
DJT") )]

Empty DataFrame
Columns: [address_1, address_2, city, country, document_id, good_through_date, name, party_type, record_type, state, zip]
Index: []

In [101]:
RealPropertyParties.loc[RealPropertyParties['name'] == "UWAKWE, STELLA"]

,address_1,address_2,city,country,document_id,good_through_date,name,party_type,record_type,state,zip
0,974 E 104TH STREET,NaN,BROOKLYN,US,2017033001125002,2017-03-31T00:00:00,"UWAKWE, STELLA",1,P,NY,11236.0

In [96]:
Manafort.head(1)

Empty DataFrame
Columns: [address_1, address_2, city, country, document_id, good_through_date, name, party_type, record_type, state, zip]
Index: []

In [125]:
RealPropertyParties[RealPropertyParties['name'].str.contains("WELLS")]

,address_1,address_2,city,country,document_id,good_through_date,name,party_type,record_type,state,zip
1,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017033001125002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,11236.0
16,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017033001112002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,11694.0
43,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032901191001,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,MN,55467.0
48,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017033000884003,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,57104.0
50,101 NORTH PHILLPS AVE,NaN,SIOUX FALLS,US,2017033000831002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,11223.0
53,101 NORTH PHILLIPS,NaN,SIOUX FALLS,US,2017033000518002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A",2,P,SD,57104.0
82,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032900744001,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,MN,55467.0
90,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017033000146002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,MN,554678000.0
100,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032900294003,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,MN,55467.0
108,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017033000161002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,SD,57104.0
130,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032800499001,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,MN,554678000.0
147,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032200737002,2017-03-31T00:00:00,"WELLS FARGO BANK, NA",2,P,MN,554678000.0
201,3476 STATEVIEW BLVD MAC #X7801-03K,NaN,FORT MILL,US,2017032800568001,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SC,29715.0
232,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032800851003,2017-03-31T00:00:00,WELLS FARGO BANK N.A.,2,P,MN,554678000.0
253,"150 EAST 42ND STREET, 36TH FLOOR",NaN,NEW YORK,US,2017031300375005,2017-03-31T00:00:00,"WELLS FARGO BANK, NATIONAL ASSOCIATION",2,P,NY,10017.0
263,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032100090001,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,MN,55467.0
271,405 S.W. FIFTH STREET,NaN,DES MOINES,US,2017032400047003,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,IA,50309.0
325,P.O. BOX 31557,NaN,BILLINGS,US,2017032400278001,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,MT,59107.0
326,1 HOME CAMPUS,NaN,DES MOINES,US,2017032400341001,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,IA,50328.0
362,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017033000283002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,MN,554678000.0
366,405 S.W. FIFTH STREET,NaN,DES MOINES,US,2017032900560004,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,IA,50309.0
397,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017033000110002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,MN,554678000.0
402,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032900984002,2017-03-31T00:00:00,WELLS FARGO BANK N.A.,2,P,MN,554678000.0
413,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017033000344002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,MN,55467.0
422,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032900824001,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,MN,55467.0
452,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017032000621002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,SD,57104.0
468,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017032800202003,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,SD,57104.0
473,405 SW FIFTH ST,NaN,DES MOINES,US,2017032800126003,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,IA,50309.0
559,405 SW FIFTH STREET,NaN,DES MOINES,US,2017032400864003,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,IA,50309.0
655,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017032600043002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,MN,55467.0
666,405 S.W. FIFTH STREET,NaN,DES MOINES,US,2016080900761004,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,IA,50309.0
671,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017032300349004,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A",2,P,SD,57104.0
689,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017032200975002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,SD,57104.0
692,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017032300844002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,SD,57104.0
721,"2010 CORPORATE RIDGE, SUITE 1000",NaN,MCLEAN,US,2017032001224004,2017-03-31T00:00:00,"WELLS FARGO BANK, NATIONAL ASSOCIATION",2,P,VA,22102.0
741,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017032300329005,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,SD,57104.0
791,1 HOME CAMPUS,NaN,DES MOINES,US,2017032000001001,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,IA,50328.0
800,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017031700808002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,SD,57104.0
804,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017030800244001,2017-03-31T00:00:00,"WELLS FARGO BANK, NA",2,P,SD,57104.0
813,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017030800815001,2017-03-31T00:00:00,"WELLS FARGO BANK, NA",2,P,MN,554678000.0
855,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017031600714002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,MN,55467.0
883,2701 WELLS FARGO WAY,NaN,MINNEAPOLIS,US,2017031600160002,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,ME,55467.0
960,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017032700403002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,57104.0
970,101 NORTH PHILLIPS AVENUE,NaN,SIOUX FALLS,US,2017032400533003,2017-03-31T00:00:00,"WELLS FARGO BANK, N.A.",2,P,SD,57104.0
976,"3476 STATEVIEW BLVD, MAC# X7801-03K",NaN,FORT MILL,US,2017032400961001,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SC,29715.0

In [36]:
#Trump.describe

<bound method NDFrame.describe of Empty DataFrame
Columns: [address_1, address_2, city, country, document_id, good_through_date, name, party_type, record_type, state, zip]
Index: []>

In [56]:
RealPropertyReferences=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/pwkr-dpni.json")

In [57]:
list(RealPropertyReferences)

['document_id',
 'good_through_date',
 'record_type',
 'reference_by_crfn_',
 'reference_by_doc_id',
 'reference_by_reel_borough',
 'reference_by_reel_nbr',
 'reference_by_reel_page',
 'reference_by_reel_year']

In [58]:
RealPropertyReferences.head()

,document_id,good_through_date,record_type,reference_by_crfn_,reference_by_doc_id,reference_by_reel_borough,reference_by_reel_nbr,reference_by_reel_page,reference_by_reel_year
0,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,448,1647,1978
1,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,466,662,1978
2,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,520,795,1980
3,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,1089,509,1986
4,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,2055,1544,1994

In [ ]:
#not important

In [39]:
RealPropertyRemarks=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/9p4w-7npp.json")

In [40]:
list(RealPropertyRemarks)

['document_id',
 'good_through_date',
 'record_type',
 'remark_text',
 'sequence_number']

In [66]:
RealPropertyRemarks.head()

,document_id,good_through_date,record_type,remark_text,sequence_number
0,2004021301109001,2017-03-31T00:00:00,R,PERSONAL INFORMATION IS DISPLAYED,1
1,2004082000676001,2017-03-31T00:00:00,R,BLOCK CORRECTION. CORRECTING FROM BBL 1-1171-1...,1
2,2004101501145001,2017-03-31T00:00:00,R,CORRECTION TO THE INDEX TO ADD BBL 4-14231-112...,1
3,2006080801216003,2017-03-31T00:00:00,R,BLOCK CORRECTION. CORRECTED TO ADD 1/716/1150....,1
4,2006080801216004,2017-03-31T00:00:00,R,BLOCK CORRECTION. CORRECTED TO ADD 1/716/1150....,1

In [ ]:
#not important

In [41]:
UCCCodes=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/p86i-ie45.json")

In [42]:
list(UCCCodes)

['description', 'record_type', 'ucc_collateral_code']

In [63]:
UCCCodes.head()

                                   description record_type ucc_collateral_code
0                  TRANSMITTING UTILITIES DBTR           U                   D
1  CROPS/EXTRACTED/COLLATERAL/TIMBER TO BE CUT           U                   R
2                                  COOPERATIVE           U                   C
3                               FIXTURE FILING           U                   F
4                         MANUFACTURED HOUSING           U                   M

In [43]:
StateCodes=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/egzt-wg68.json")

In [44]:
list(StateCodes)

['description', 'record_type', 'state_code']

In [62]:
StateCodes.head()

  description record_type state_code
0     ALABAMA           S         AL
1      ALASKA           S         AK
2     ARIZONA           S         AZ
3    ARKANSAS           S         AR
4  CALIFORNIA           S         CA

In [45]:
DocumentCodes=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/x529-jt8f.json")

In [46]:
list(DocumentCodes)

['class_code_description',
 'doc__type',
 'doc__type_description',
 'party1_type',
 'party2_type',
 'party3_type',
 'record_type']

In [ ]:
#import because it tells us what the record_type means

In [67]:
DocumentCodes.head(20)

,class_code_description,doc__type,doc__type_description,party1_type,party2_type,party3_type,record_type
0,MORTGAGES & INSTRUMENTS,AGMT,AGREEMENT,PARTY 1,PARTY 2,NaN,D
1,UCC AND FEDERAL LIENS,AMFL,AMENDMENT OF FEDERAL LIEN,DEBTOR,SECURED PARTY,NaN,D
2,MORTGAGES & INSTRUMENTS,ASPM,ASSUMPTION OF MORTGAGE,MORTGAGER/BORROWER,MORTGAGEE/LENDER,NaN,D
3,MORTGAGES & INSTRUMENTS,ASST,"ASSIGNMENT, MORTGAGE",ASSIGNOR/OLD LENDER,ASSIGNEE/NEW LENDER,NaN,D
4,DEEDS AND OTHER CONVEYANCES,ASTU,UNIT ASSIGNMENT,GRANTOR/SELLER,GRANTEE/BUYER,NaN,D
5,UCC AND FEDERAL LIENS,ASUM,UCC3 ASSUMPTION,DEBTOR,SECURED PARTY,NaN,D
6,OTHER DOCUMENTS,BOND,BOND,DEBTOR,SECURED PARTY,NaN,D
7,UCC AND FEDERAL LIENS,BRUP,UCC3 BANKRUPTCY,DEBTOR,SECURED PARTY,NaN,D
8,MORTGAGES & INSTRUMENTS,CERR,CERTIFICATE OF REDUCTION,MORTGAGER/BORROWER,MORTGAGEE/LENDER,NaN,D
9,UCC AND FEDERAL LIENS,CNFL,CONTINUATION OF FEDERAL LIEN,DEBTOR,SECURED PARTY,NaN,D
10,OTHER DOCUMENTS,CERT,CERTIFICATE,PARTY 1,PARTY 2,NaN,D
11,DEEDS AND OTHER CONVEYANCES,CNTR,CONTRACT OF SALE,GRANTOR/SELLER,GRANTEE/BUYER,NaN,D
12,DEEDS AND OTHER CONVEYANCES,CODP,CONDEMNATION PROCEEDINGS,PARTY 1,NaN,NaN,D
13,OTHER DOCUMENTS,CONS,CONSENT,PARTY 1,NaN,NaN,D
14,UCC AND FEDERAL LIENS,CONT,UCC3 CONTINUATION,DEBTOR,SECURED PARTY,NaN,D
15,OTHER DOCUMENTS,CTOR,COURT ORDER,PARTY 1/GRANTOR,PARTY 2/GRANTEE,NaN,D
16,DEEDS AND OTHER CONVEYANCES,DCTO,COURT ORDER ADVERSE POSS.,PARTY 1,PARTY 2,NaN,D
17,OTHER DOCUMENTS,DECL,DECLARATION,PARTY 1,PARTY 2,NaN,D
18,DEEDS AND OTHER CONVEYANCES,DEED,DEED,GRANTOR/SELLER,GRANTEE/BUYER,NaN,D
19,MORTGAGES & INSTRUMENTS,DEMM,DECLARATION OF MODIFI OF MRT,MORTGAGER/BORROWER,MORTGAGEE/LENDER,NaN,D

In [47]:
Trump=pd.read_json(path_or_buf="https://api.opencorporates.com/v0.4/companies/search?q=Trump")

In [48]:
list(Trump)

['api_version', 'results']

In [49]:
pd.io.json.json_normalize(data)

,api_version,results.companies,results.page,results.per_page,results.total_count,results.total_pages
0,0.4,"[{'company': {'incorporation_date': None, 'cur...",1,30,3084,103

In [50]:
with open('Trump_2.json') as data_file:    
    data = json.load(data_file)

In [64]:
pd.io.json.json_normalize(data)

,api_version,results.companies,results.page,results.per_page,results.total_count,results.total_pages
0,0.4,"[{'company': {'incorporation_date': None, 'cur...",1,30,3084,103

In [ ]:
pd.io.json.json_normalize(data, "company",[
          "name" ,
          "company_number" ,
          "jurisdiction_code",
          "incorporation_date",
          "dissolution_date",
          "company_type",
          "registry_url",
          "branch_status",
          "inactive",
          "current_status",
          "created_at",
          "updated_at",
          "retrieved_at",
          "opencorporates_url",
          "previous_names"])

In [69]:
Trump_3=pd.read_csv("Trump.csv")

In [72]:
Trump_3.head(20)

,company/name,company/company_number,company/jurisdiction_code,company/incorporation_date,company/dissolution_date,company/company_type,company/registry_url,company/branch_status,company/inactive,company/current_status,...,company/registered_address/postal_code,company/registered_address/country,company/registered_address_in_full,company/restricted_for_marketing,company/native_company_number,company/registered_address,company/previous_names/0/company_name,company/previous_names/0/start_date,company/previous_names/1/company_name,company/previous_names/1/start_date
0,"""CAST & TRUMP SRL""",23065602,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Braşov"", ""Braşov""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"""IQ BUSINESS TRUMP SRL""",22913461,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 2"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"""TRUMP ALEGRA SRL""",28050793,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Oradea"", ""Bihor""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"""TRUMP CONSTRUCT DEVELOPMENT SRL""",33928808,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 5"", Romania",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"""TRUMP HOLDINGS SRL""",17888973,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 4"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"""TRUMP IMPEX SRL""",1573421,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 4"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"""TRUMP INVEST ASSET MANAGEMENT SRL""",26078011,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 4"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"""TRUMP INVEST SRL""",4361830,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 1"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"""TRUMP ROMANIA SRL""",13207912,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 1"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"""TRUMP SRL""",14574763,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Sebeş"", ""Alba""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"1004 HOLLYWOOD TRUMP, LLC",L10000030140,us_fl,2010-03-18,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"11 No Trump, LLC",LC1223016,us_mo,2012-04-25,NaN,Limited Liability Company,https://bsd.sos.mo.gov/BusinessEntity/Business...,NaN,False,Active,...,NaN,United States,"702 NE Burning Tree St\nLee's Summit, MO 64064",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1203 TRUMP LLC,L06000027664,us_fl,2006-03-15,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"18201 TRUMP ROYALE, LLC",L09000107069,us_fl,2009-11-05,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,200 EAST 69TH 17A LLC,4657553,us_ny,2014-10-28,NaN,DOMESTIC LIMITED LIABILITY COMPANY,https://appext20.dos.ny.gov/corp_public/CORPSE...,NaN,False,Active,...,10901.0,United States,"29 CLAREMONT LANE, SUFFERN, NEW YORK, 10901",NaN,NaN,NaN,200 EAST 69TH 17A LLC,2014-11-12,TRUMP 17A LLC,2014-10-28
15,200 RSB 33 LLC,4633501,us_ny,2014-09-09,NaN,DOMESTIC LIMITED LIABILITY COMPANY,https://appext20.dos.ny.gov/corp_public/CORPSE...,NaN,False,Active,...,10012.0,United States,"15 WEST 44TH STREET, 12TH FLOO, NEW YORK, NEW ...",NaN,NaN,NaN,200 RSB 33 LLC,2014-10-29,"TRUMP RIVERSIDE ACQUISITION, LLC",2014-09-09
16,200 TRUMP VALET SERVICE INC.,3863661,us_ny,2009-10-05,2016-06-29,DOMESTIC BUSINESS CORPORATION,https://appext20.dos.ny.gov/corp_public/CORPSE...,NaN,True,Inactive Dissolution By Proclamation / Annul...,...,NaN,United States,"200 RIVERSIDE BLVD, NEW YORK, NEW YORK, 10069",NaN,NaN,NaN,200 TRUMP VALET SERVICE INC.,2009-10-05,NaN,NaN
17,"2207 TRUMP, LLC",L11000083785,us_fl,2011-07-21,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,25C WORLD TOWER CORP.,3117330,us_ny,2004-10-22,NaN,DOMESTIC BUSINESS CORPORATION,https://appext20.dos.ny.gov/corp_public/CORPSE...,NaN,False,Active,...,NaN,United States,"20 CEDAR ST, NEW ROCHELLE, NEW YORK, 10801",NaN,NaN,NaN,25C WORLD TOWER CORP.,2005-01-04,25C TRUMP WORLD TOWER CORP.,2004-10-22
19,"2601 TRUMP TOWERS III, LLC.",L11000095896,us_fl,2011-08-22,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [118]:
Trump_4=pd.read_csv("Open_corporates_grouping.csv")

In [126]:
unique_companies=Trump_4.results__corporate_grouping__memberships__membership__company__name.unique()

In [127]:
unique_companies

array(['TRUMP SALES & LEASING CHICAGO MEMBER CORP',
       '4 SHADOW TREE LANE LLC', '4 SHADOW TREE LANE MEMBER CORP',
       '40 WALL DEVELOPMENT ASSOCIATES LLC', '40 WALL STREET MEMBER CORP.',
       '401 MEZZ VENTURE LLC', '401 NORTH WABASH VENTURE LLC',
       '809 NORTH CANON LLC', '81 PINE NOTE HOLDER INC',
       '845 UN LIMITED PARTNERSHIP',
       'ALL COUNTY BUILDING SUPPLY & MAINTENANCE CORP.',
       'AVIATION PAYROLL COMPANY', 'B PLAZA REALTY CORP.',
       'BEACH HAVEN APARTMENTS #3, L.L.C.',
       'BEACH HAVEN SHOPPING CENTER LLC', 'BEDFORD HILLS CORPORATION',
       'BRIAR HALL OPERATIONS LLC', 'CARIBUSINESS MRE LLC',
       'CHELSEA HALL, L.L.C.', 'CHICAGO UNIT ACQUISITION LLC',
       'CHINA TRADEMARK LLC', 'CLYDE HALL INC.', 'CORONET HALL, INC.',
       'COUNTRY INVESTORS, L.L.C.', 'D B PACE ACQUISITION MEMBER CORP',
       'DEVELOPMENT MEMBER INC.', 'D.J. AEROSPACE (BERMUDA) LIMITED',
       'DJT AEROSPACE LLC', 'DJT ENTREPRENEUR MANAGING MEMBER LLC',
       'DJT ENTREPRENEUR MEMBER LLC', 'DJT LAND HOLDINGS MEMBER CORP',
       'DJT OPERATIONS II LLC', 'DONALD J. TRUMP ENTERPRISES II LLC',
       'DONALD J. TRUMP ENTERPRISES III LLC',
       'DONALD J. TRUMP ENTERPRISES LLC', 'DSN LICENSING LLC',
       'DSN LICENSING MEMBER CORP',
       'DT APP WARRANT HOLDING MANAGING MEMBER CORP',
       'DT DUBAI GOLF MANAGER LLC', 'DT DUBAI GOLF MANAGER MEMBER CORP',
       'DT DUBAI II GOLF MANAGER LLC',
       'DT DUBAI II GOLF MANAGER MEMBER CORP',
       'DT HOME MARKS INTERNATIONAL LLC',
       'DT HOME MARKS INTERNATIONAL MEMBER CORP', 'DT INDIA VENTURE LLC',
       'DT INDIA VENTURE MANAGING MEMBER CORP', 'DT MARKS BAKU LLC',
       'DT MARKS BAKU MANAGING MEMBER CORP', 'DT MARKS DUBAI II LLC',
       'DT MARKS DUBAI II MEMBER CORP', 'DT MARKS DUBAI LLC',
       'DT MARKS DUBAI MEMBER CORP', 'DT MARKS GURGAON LLC',
       'DT MARKS GURGAON MANAGING MEMBER CORP', 'DT MARKS JERSEY CITY LLC',
       'DT MARKS PRODUCTS INTERNATIONAL LLC',
       'DT MARKS PRODUCTS INTERNATIONAL MEMBER CORP',
       'DT MARKS PUNE II LLC', 'DT MARKS PUNE II MANAGING MEMBER CORP',
       'DT MARKS PUNE LLC', 'DT MARKS PUNE MANAGING MEMBER CORP',
       'DT MARKS QATAR LLC', 'DT MARKS QATAR MEMBER CORP',
       'DT MARKS RIO LLC', 'DT MARKS RIO MEMBER CORP',
       'DT MARKS VANCOUVER LP', 'DT MARKS VANCOUVER MEMBER CORP',
       'DT MARKS WORLI LLC', 'DT MARKS WORLI MEMBER CORP.',
       'DT TOWER GURGAON LLC', 'DT TOWER GURGAON MANAGING MEMBER CORP',
       'DTW VENTURE LLC', 'DTW VENTURE MANAGING MEMBER CORP.',
       'EXCEL VENTURE I CORPORATION', 'EXCEL VENTURE I LLC',
       'FIFTY-SEVEN MANAGEMENT CORP.',
       'FIFTY-SEVENTH STREET ASSOCIATES L.L.C.', 'FIRST MEMBER INC.',
       'FLORIDA PROPERTIES MANAGEMENT, L.C.', 'GEPT DELMONICO LLC',
       'GOLF PRODUCTIONS MEMBER CORP', 'GOLF RECREATION SCOTLAND LIMITED',
       'HIGHLANDER HALL, INC.', 'HUDSON WATERFRONT II CORPORATION',
       'HUDSON WESTSIDE ASSOCIATES I, L.P.',
       'HUDSON WESTSIDE ASSOCIATES II, L.P.',
       'HUDSON WESTSIDE ASSOCIATES III, L.P.',
       'HUDSON WESTSIDE ASSOCIATES IV, L.P.',
       'HUDSON WESTSIDE ASSOCIATES, L.P.',
       'HUDSON WESTSIDE ASSOCIATES V, L.P.', 'HWA 555 OWNERS, LLC',
       'INDIAN HILLS HOLDINGS LLC', 'LAWRENCE TOWERS APARTMENTS, L.L.C.',
       'LFB ACQUISITION MEMBER CORP', 'NITTO WORLD CO., LIMITED',
       'OCEAN DEVELOPMENT MEMBER INC.', 'OCEAN DEVELOPMENT SERVICES LLC',
       'OWO DEVELOPER LLC', 'PANAMA OCEAN CLUB MANAGEMENT LLC',
       'PANAMA OCEAN CLUB MANAGEMENT MEMBER CORP',
       'PARAMOUNT RPV HOLDINGS MANAGER CORP', 'PARC CONSULTING, INC.',
       'PINE HILL DEVELOPMENT MANAGING MEMBER CORP',
       'PLAZA CONSULTING CORP.', 'REG-TRU EQUITIES, LTD.',
       'SCOTLAND ACQUISITIONS LLC', 'SENTIENT JETS MEMBER CORP',
       'SHORE HAVEN SHOPPING CENTER, L.L.C.', 'SMC OCEAN LLC',
       'SUSSEX HALL INC.', 'THC BAKU HOTEL MANAGER SERVICES LLC',
       'THC BAKU HOTEL MANAGER SERVICES MEMBER CORP.',
       'THC BAKU SERVICES MEMBER CORP', 'THC CHINA DEVELOPMENT LLC',
       'THC CHINA TECHNICAL SERVICES LLC',
       'THC CHINA TECHNICAL SERVICES MANAGER CORP',
       'THC DEVELOPMENT BRAZIL LLC',
       'THC DEVELOPMENT BRAZIL MANAGING MEMBER CORP',
       'THC DUBAI II HOTEL MANAGER LLC',
       'THC DUBAI II HOTEL MANAGER MEMBER CORP',
       'THC HOTEL DEVELOPMENT LLC', 'THC IMEA DEVELOPMENT LLC',
       'THC MIAMI RESTAURANT HOSPITALITY MEMBER CORP',
       'THC QATAR HOTEL MANAGER LLC',
       'THC QATAR HOTEL MANAGER MEMBER CORP', 'THC RIO MANAGER LLC',
       'THC RIO MANAGING MEMBER CORP', 'THC VANCOUVER MANAGEMENT CORP',
       'THC VENTURE I MANAGING MEMBER CORP.', 'THC VENTURE II LLC',
       'THC VENTURE II MANAGING MEMBER CORP.', 'THE CARIBUSINESS RE CORP',
       'THE TRUMP FOLLIES LLC', 'THE TRUMP FOLLIES MEMBER INC.',
       'THE TRUMP MARKS REAL ESTATE CORP', 'THE TRUMP ORGANIZATION, INC.',
       'TIGL COMMON AREA MANAGEMENT CORP', '721 33H HOLDINGS LLC',
       'TIGL IRELAND MANAGEMENT LIMITED', 'TIHC RESERVATIONS LLC',
       'TIHH MEMBER CORP', 'TIHH MEMBER LLC',
       'TIHT CHICAGO MEMBER ACQUISITION LLC', 'TIHT COMMERCIAL LLC',
       'TIHT HOLDING COMPANY LLC', 'TIHT MEMBER LLC',
       'TIPPERARY REALTY CORP.', 'TMG MEMBER, LLC',
       'TNGC DUTCHESS COUNTY MEMBER CORP',
       'TNGC JUPITER MANAGING MEMBER CORP', 'TNGC PINE HILL MEMBER CORP',
       'TORONTO DEVELOPMENT LLC', 'TP-CFD, LLC', 'TP-CFD MANAGER CORP',
       'TRUMP 106 CPS LLC', 'TRUMP 845 LP LLC', 'TRUMP 845 UN GP LLC',
       'TRUMP 845 UN MGR CORP.', 'TRUMP 845 UN MGR LLC',
       'TRUMP AC CASINO MARKS MEMBER CORP', 'TRUMP ACQUISITION CORP.',
       'TRUMP BOOKS MANAGER CORP', 'TRUMP BRAZIL LLC',
       'TRUMP BRIARCLIFF MANOR DEVELOPMENT LLC',
       'TRUMP CANADIAN SERVICES, INC.', 'TRUMP CANOUAN ESTATE LLC',
       'TRUMP CANOUAN ESTATE MEMBER CORP', 'TRUMP CENTRAL PARK WEST CORP.',
       'TRUMP CHICAGO COMMERCIAL MANAGER LLC',
       'TRUMP CHICAGO COMMERCIAL MEMBER CORP',
       'TRUMP CHICAGO DEVELOPMENT LLC', 'TRUMP CHICAGO HOTEL MANAGER LLC',
       'TRUMP CHICAGO HOTEL MEMBER CORP',
       'TRUMP CHICAGO MANAGING MEMBER LLC', 'TRUMP CHICAGO MEMBER LLC',
       'TRUMP CHICAGO RESIDENTIAL MANAGER LLC',
       'TRUMP CHICAGO RESIDENTIAL MEMBER CORP', 'TRUMP CHICAGO RETAIL LLC',
       'TRUMP CHICAGO RETAIL MANAGER LLC',
       'TRUMP CHICAGO RETAIL MEMBER CORP', 'TRUMP COMMERCIAL CHICAGO LLC',
       'TRUMP CPS CORP.', 'TRUMP CPS LLC', 'TRUMP DELMONICO LLC',
       'TRUMP DRINKS ISRAEL HOLDINGS LLC',
       'TRUMP DRINKS ISRAEL HOLDINGS MEMBER CORP',
       'TRUMP DRINKS ISRAEL LLC', 'TRUMP DRINKS ISRAEL MEMBER CORP',
       'TRUMP EU MARKS LLC', 'TRUMP EU MARKS MEMBER CORP',
       'TRUMP GOLF COCO BEACH LLC', 'TRUMP GOLF COCO BEACH MEMBER CORP',
       'TRUMP GOLF MANAGEMENT LLC', 'TRUMP HOME MARKS LLC',
       'TRUMP HOME MARKS MEMBER CORP', 'TRUMP ICE, INC.',
       'TRUMP INTERNATIONAL DEVELOPMENT LLC',
       'TRUMP INTERNATIONAL DEVELOPMENT MEMBER CORP',
       'TRUMP INTERNATIONAL GOLF CLUB, INC.', 'TRUMP JETS LLC',
       'TRUMP KOREA LLC', 'TRUMP KOREAN PROJECTS LLC',
       'TRUMP LAS VEGAS CORP', 'TRUMP LAS VEGAS SALES & MARKETING, INC.',
       'TRUMP LAUDERDALE DEVELOPMENT LLC',
       'TRUMP LAUDERDALE DEVELOPMENT NO. 2 LLC', 'TRUMP MANAGEMENT INC.',
       'TRUMP MARKS ASIA CORP', 'TRUMP MARKS ATLANTA LLC',
       'TRUMP MARKS ATLANTA MEMBER CORP', 'TRUMP MARKS BAJA CORP',
       'TRUMP MARKS BAJA LLC', 'TRUMP MARKS BATUMI LLC',
       'TRUMP MARKS BATUMI MANAGING MEMBER CORP',
       'TRUMP MARKS BEVERAGES CORP', 'TRUMP MARKS BEVERAGES LLC',
       'TRUMP MARKS CANOUAN CORP', 'TRUMP MARKS CANOUAN LLC',
       'TRUMP MARKS CHICAGO LLC', 'TRUMP MARKS CHICAGO MEMBER CORP',
       'TRUMP MARKS DUBAI CORP', 'TRUMP MARKS DUBAI LLC',
       'TRUMP MARKS EGYPT CORP', 'TRUMP MARKS EGYPT LLC',
       'TRUMP MARKS FT. LAUDERDALE LLC',
       'TRUMP MARKS FT. LAUDERDALE MEMBER CORP',
       'TRUMP MARKS HOLLYWOOD CORP', 'TRUMP MARKS ISTANBUL II CORP',
       'TRUMP MARKS ISTANBUL II LLC', 'TRUMP MARKS JERSEY CITY CORP',
       'TRUMP MARKS JERSEY CITY LLC', 'TRUMP MARKS LAS VEGAS CORP',
       'TRUMP MARKS LAS VEGAS LLC', 'TRUMP MARKS MAGAZINE CORP',
       'TRUMP MARKS MAGAZINE LLC', 'TRUMP MARKS MATTRESS LLC',
       'TRUMP MARKS MATTRESS MEMBER CORP.', 'TRUMP MARKS MORTGAGE CORP',
       'TRUMP MARKS MUMBAI LLC', 'TRUMP MARKS MUMBAI MEMBER CORP',
       'TRUMP MARKS NEW ROCHELLE CORP', 'TRUMP MARKS NEW ROCHELLE LLC',
       'TRUMP MARKS PALM BEACH CORP', 'TRUMP MARKS PALM BEACH LLC',
       'TRUMP MARKS PANAMA CORP', 'TRUMP MARKS PANAMA LLC',
       'TRUMP MARKS PHILADELPHIA CORP', 'TRUMP MARKS PHILADELPHIA LLC',
       'TRUMP MARKS PHILIPPINES CORP', 'TRUMP MARKS PHILIPPINES LLC',
       'TRUMP MARKS PRODUCTS MEMBER CORP', 'TRUMP MARKS PUERTO RICO I LLC',
       'TRUMP MARKS PUERTO RICO I MEMBER CORP',
       'TRUMP MARKS PUERTO RICO II LLC',
       'TRUMP MARKS PUERTO RICO II MEMBER CORP',
       'TRUMP MARKS PUNTA DEL ESTE LLC',
       'TRUMP MARKS PUNTA DEL ESTE MANAGER CORP',
       'TRUMP MARKS REAL ESTATE LLC', 'TRUMP MARKS SOHO LICENSE CORP',
       'TRUMP MARKS SOHO LLC', 'TRUMP MARKS STAMFORD CORP',
       'TRUMP MARKS STAMFORD LLC', 'TRUMP MARKS SUNNY ISLES I LLC',
       'TRUMP MARKS SUNNY ISLES I MEMBER CORP',
       'TRUMP MARKS SUNNY ISLES II LLC',
       'TRUMP MARKS SUNNY ISLES II MEMBER CORP', 'TRUMP MARKS TAMPA CORP',
       'TRUMP MARKS TAMPA LLC', 'TRUMP MARKS TORONTO CORP',
       'TRUMP MARKS TORONTO LLC', 'TRUMP MARKS TORONTO LP',
       'TRUMP MARKS WAIKIKI CORP', 'TRUMP MARKS WESTCHESTER CORP',
       'TRUMP MARKS WESTCHESTER LLC', 'TRUMP MARKS WHITE PLAINS CORP',
       'TRUMP MARKS WHITE PLAINS LLC', 'TRUMP MODEL MANAGEMENT LLC',
       'TRUMP NATIONAL GOLF CLUB MEMBER CORP',
       'TRUMP NATIONAL GOLF CLUB WASHINGTON DC MEMBER CORP',
       'TRUMP/NEW WORLD PROPERTY MANAGEMENT, LLC',
       'TRUMP OCEAN MANAGER, INC.', 'TRUMP OCEAN MANAGING MEMBER LLC',
       'TRUMP OLD POST OFFICE LLC', 'TRUMP OLD POST OFFICE MEMBER CORP',
       'TRUMP ON THE OCEAN LLC', 'TRUMP ORGANIZATION LLC',
       'TRUMP PALACE/PARC LLC', 'TRUMP PANAMA CONDOMINIUM MANAGEMENT LLC',
       'TRUMP PANAMA CONDOMINIUM MEMBER CORP',
       'TRUMP PANAMA HOTEL MANAGEMENT MEMBER CORP',
       'TRUMP PARK AVENUE ACQUISITION LLC', 'TRUMP PAYROLL CHICAGO LLC',
       'TRUMP PHOENIX DEVELOPMENT LLC', 'TRUMP PLAZA LLC',
       'TRUMP PLAZA MEMBER INC.', 'TRUMP PROJECT MANAGEMENT CORP.',
       'TRUMP REALTY SERVICES, LLC', 'TRUMP RESTAURANTS LLC',
       'TRUMP RIVERSIDE MANAGEMENT, LLC',
       'TRUMP SALES & LEASING CHICAGO LLC', 'TRUMP SCOTLAND MEMBER INC.',
       'TRUMP SOHO MEMBER LLC', 'TRUMP TORONTO DEVELOPMENT, INC.',
       'TRUMP TORONTO MEMBER CORP', 'TRUMP TOWER COMMERCIAL LLC',
       'TRUMP TOWER MANAGING MEMBER INC.',
       'TRUMP VILLAGE CONSTRUCTION CORP.', 'TRUMP WINE MARKS LLC',
       'TRUMP WINE MARKS MEMBER CORP', 'TRUMP WORLD PUBLICATIONS LLC',
       'TURNBERRY SCOTLAND LLC', 'TURNBERRY SCOTLAND MANAGING MEMBER CORP',
       'TW VENTURE II LLC', 'TW VENTURE II MANAGING MEMBER CORP',
       'ULTIMATE AIR CORP.', 'UNIT 2502 ENTERPRISES CORP',
       'UNIT 2502 ENTERPRISES LLC', 'VHPS LLC', 'WEST PALM OPERATIONS LLC',
       'WHITE COURSE LLC', 'WHITE COURSE MANAGING MEMBER CORP',
       'WILSHIRE HALL, L.L.C.', 'WOLLMAN RINK OPERATIONS LLC',
       'DT CONNECT EUROPE LIMITED', 'DJT HOLDINGS LLC',
       'DJT HOLDINGS MANAGING MEMBER LLC', 'OPO HOTEL MANAGER MEMBER CORP',
       'T INTERNATIONAL REALTY LLC', 'SLC TURNBERRY LIMITED',
       'TRUMP INTERNATIONAL GOLF CLUB SCOTLAND LIMITED',
       'CARIBUSINESS INVESTMENTS', 'Country Properties LLC',
       'DJT OPERATIONS CX LLC', 'DJT OPERATIONS I LLC',
       'LAMINGTON FAMILY HOLDINGS LLC', 'THE EAST 61 ST. COMPANY, L.P.',
       'TRUMP BOOKS LLC', 'SPRING CREEK PLAZA, LLC',
       'THC BAKU SERVICES LLC', 'DT LIDO TECHNICAL SERVICES MANAGER LLC',
       'DT MARKS BALI LLC', 'DT MARKS LIDO LLC',
       'MOBILE PAYROLL CONSTRUCTION LLC', 'TRUMP MORTGAGE, LLC',
       'TRUMP ENDEAVOR 12 LLC', 'TRUMP MARKS WAIKIKI LLC',
       'THE TRUMP ENTREPRENEUR INITIATIVE LLC', 'TRUMP UNIVERSITY LLC',
       'TRUMP U. LLC', 'TRUMP MARKS ISTANBUL CORP',
       'TRUMP MARKS ISTANBUL LLC', 'THC JEDDAH HOTEL ADVISOR MEMBER CORP',
       'DT JEDDAH TECHNICAL SERVICES ADVISOR LLC',
       'THC JEDDAH HOTEL ADVISOR LLC',
       'THC SHENZHEN HOTEL MANAGER MEMBER CORP',
       'THC SHENZHEN HOTEL MANAGER LLC',
       'THC JEDDAH HOTEL MANAGER MEMBER CORP',
       'TRUMP MARKS BANGKOK MEMBER CORP', 'TRUMP ENDEAVOR 12 MANAGER CORP',
       'THE TRUMP CORPORATION', 'TW VENTURE I MANAGING MEMBER CORP',
       'DT MARKS JUPITER LLC', 'TRUMP FOR AMERICA, INC.',
       'TRUMP OCEAN CLUB CASINO, INC.', 'TRUMP MARKS MENSWEAR MEMBER CORP',
       'HELICOPTER AIR SERVICES, INC.', 'POP MANAGEMENT, INC.',
       'TRUMP PAGEANTS, INC.', '3126 CORPORATION',
       'TRUMP CITY CORPORATION', 'TRUMP ATLANTIC CITY CORPORATION',
       'THE TRUMP HOTEL CORPORATION', 'TRAVEL ENTERPRISES MANAGEMENT INC.',
       "TRUMP'S CASTLE MANAGEMENT CORP.", 'DJT ACQUISITION CORP.',
       'DJT PLAZA HOTEL CORP.', 'FLIGHTS INC.',
       'THC CENTRAL RESERVATIONS MEMBER CORP',
       'TRUMP ASPEN PROPERTIES, INC.', 'TRUMP BEVERLY HILLS HOTEL CORP.',
       'TRUMP TORONTO HOTEL MANAGEMENT CORP',
       'TRUMP HOTEL MANAGEMENT CORP.',
       'TRUMP DEVELOPMENT SERVICES MEMBER CORP',
       '55 WALL DEVELOPMENT CORP.', 'TRUMP PLAZA MANAGEMENT CORP.',
       'TRUMP EMPIRE STATE, INC.', 'TRUMP PLAZA/61ST CORP.',
       'TRUMP WEST PALM BEACH REALTY CORP.',
       'TRUMP AIRLINES HOLDING CORP.', 'YORKTOWN REAL ESTATE LLC',
       'TIHM MEMBER CORP.', 'TRUMP HOTELS & CASINO RESORTS, INC.',
       'TRUMP HOTELS & CASINO RESORTS FUNDING, INC.',
       'TRUMP INDIANA, INC.', 'Trump Entertainment Resorts, Inc.',
       'TRUMP ENTERTAINMENT RESORTS, INC.',
       'TRUMP ENTERTAINMENT RESORTS FUNDING, INC.', 'TRUMP LAS OLAS LLC',
       'TRUMP FLORIDA MANAGER CORP.', 'TRUMP FLORIDA MANAGEMENT LLC',
       'THE MAR-A-LAGO CLUB, INC.', 'MAR-A-LAGO CLUB, INC.',
       'JUPITER GOLF CLUB MANAGING MEMBER CORP', 'RINK FOODS, INC.',
       'TRUMP BOARDWALK REALTY CORPORATION', 'TRUMP PAYROLL CORP.',
       'TRUMP EMERALD DUNES MEMBER CORP',
       'TRUMP HOTEL ST. ANDREWS LIMITED',
       'POKER VENTURE MANAGING MEMBER CORP',
       'TRUMP MIAMI RESORT MANAGEMENT MEMBER CORP',
       'TNGC Charlotte Manager Corp', 'TNGC CHARLOTTE MANAGER CORP',
       'TRUMP CAROUSEL MEMBER CORP', 'TRUMP FERRY POINT MEMBER CORP',
       'TRUMP LAS OLAS MEMBER CORP.',
       'TRUMP LAS VEGAS MANAGING MEMBER II LLC',
       'TRUMP LAS VEGAS MANAGING MEMBER LLC', 'TRUMP LAS VEGAS MEMBER LLC',
       'TRUMP LAS VEGAS MEMBER II LLC',
       'TRUMP MARKS FINE FOODS MEMBER CORP',
       'TRUMP PRODUCTIONS MANAGING MEMBER INC.',
       'DONALD J. TRUMP FOR PRESIDENT, INC.',
       'Donald J. Trump for President, Inc.',
       'DONALD J TRUMP FOR PRESIDENT, INC.', 'DT CONNECT II MEMBER CORP',
       'TRUMP LAS VEGAS DEVELOPMENT LLC', 'THCR HOLDING CORP.',
       'TRUMP CARIBBEAN LLC', 'TRUMP INTERNATIONAL GOLF CLUB, L.C.',
       'TRUMP INTERNATIONAL GOLF CLUB II L.C.',
       'TRUMP MIAMI RESORT MANAGEMENT LLC', 'BRIARCLIFF PROPERTIES INC.',
       'THE DONALD J. TRUMP GOLF CLUB L.C.', 'MAR-A-LAGO CLUB, L.L.C.',
       'MAR-A-LAGO, INC.', 'DT CONNECT MANAGING MEMBER CORP',
       'TRUMP WORLD PRODUCTIONS MANAGER CORP', 'TRUMP RUFFIN PAYROLL LLC',
       'TRUMP CASINOS II, INC.', 'THCR/LP CORPORATION',
       'TRUMP MARKS GP CORP.', 'TRUMP LAS VEGAS MARKETING AND SALES LLC',
       'DT CONNECT LLC', 'RESTAURANT 40 MEMBER CORP',
       'P.Y. PROPERTIES INC.', 'TRUMP MARKS HOLLYWOOD LLC',
       'TRUMP DIAMONDHEAD, INC.', "TRUMP'S CASTLE HOTEL & CASINO, INC.",
       'ACE ENTERTAINMENT HOLDINGS INC.', 'TRUMP PROPERTIES LLC',
       'TRUMP INTERNATIONAL HOTELS MANAGEMENT LLC',
       'BUSY BOYS INVESTMENTS LLC', 'TRUMP INTERNATIONAL MARKETING, INC.',
       'TRUMP CONNECTICUT, INC.', 'PENN YARDS REALTY CORP.',
       'DT AIR CORP.', 'DT ENDEAVOR I LLC',
       'TRUMP PRINCESS NEW ORLEANS CORPORATION', 'TRUMP DESIGNS INC.',
       'TRUMP BASEBALL INC.', 'DONVAN ENTERPRISES, INC.',
       'THC SALES & MARKETING MEMBER CORP', 'TRUMP 55 WALL CORP.',
       'TAG AIR INC.', 'TRUMP PALM BEACHES CORPORATION',
       'DTTM OPERATIONS LLC', 'DTTM OPERATIONS MANAGING MEMBER CORP',
       'THE DONALD J. TRUMP FOUNDATION, INC.',
       '40 WALL STREET COMMERCIAL LLC', '40 WALL STREET LLC',
       'D B PACE ACQUISITION, LLC', 'DT APP WARRANT HOLDING LLC',
       'DT CONNECT II LLC', 'EID VENTURE I CORPORATION',
       'EID VENTURE I LLC', 'EID VENTURE II LLC',
       'EID VENTURE II MEMBER CORP', 'GOLF PRODUCTIONS LLC',
       'IDENTITY THEFT PRODUCTIONS MEMBER CORP',
       'IDENTITY THEFT PRODUCTIONS LLC', 'JUPITER GOLF CLUB LLC',
       'LFB ACQUISITION LLC', 'OPO HOTEL MANAGER LLC',
       'PARAMOUNT RPV HOLDINGS LLC', 'PARK BRIAR ASSOCIATES, L.L.C.',
       'PINE HILL DEVELOPMENT LLC', 'POKER VENTURE LLC',
       'RPV DEVELOPMENT LLC', 'SHORE HAVEN MANAGEMENT CORP.',
       'SHORE HAVEN APARTMENTS NO. 1 INC.', 'RESTAURANT 40 LLC',
       'THC CENTRAL RESERVATIONS LLC',
       'THC CHINA DEVELOPMENT MANAGEMENT CORP',
       'THC MIAMI RESTAURANT HOSPITALITY LLC', 'THC SALES & MARKETING LLC',
       'THC SERVICES SHENZHEN LLC', 'THC SERVICES SHENZHEN MEMBER CORP',
       'THC VENTURE I LLC', 'TTTT VENTURE MEMBER CORP', 'TTTT VENTURE LLC',
       'TIGL IRELAND ENTERPRISES LIMITED', 'TNGC CHARLOTTE LLC',
       'TNGC DUTCHESS COUNTY LLC', 'TNGC JUPITER MANAGEMENT LLC',
       'TNGC PINE HILL LLC', 'TRUMP 767 MEZZANINE, LLC',
       'TRUMP 767 OWNER, LLC', 'TRUMP AC CASINO MARKS LLC',
       '806 ACQUISITION LLC', 'DJTJR ACQUISITIONS I LLC',
       'TRUMP MARKS ASIA LLC', 'Trump Marks Asia LLC',
       'TRUMP MARKS BANGKOK LLC', 'TRUMP MARKS COZUMEL CORP',
       'TRUMP MARKS COZUMEL LLC', 'TRUMP MARKS DALLAS CORP',
       'TRUMP MARKS DALLAS LLC', 'TRUMP MARKS FINE FOODS LLC',
       'TRUMP MARKS GOLF SWING LLC', 'TRUMP MARKS GOLF SWING MEMBER CORP',
       'TRUMP MARKS HOLDINGS LP', 'TRUMP MARKS LLC',
       'TRUMP MARKS MENSWEAR LLC', 'TRUMP MARKS MMA, LLC',
       'TRUMP MARKS MMA MEMBER CORP', 'TRUMP MARKS MTG LLC',
       'TRUMP MARKS NEW ORLEANS CORP', 'TRUMP MARKS NEW ORLEANS LLC',
       'TRUMP MARKS PRODUCTS LLC', 'TRUMP MARKS SOUTH AFRICA LLC',
       'TRUMP MARKS SOUTH AFRICA MEMBER CORP', 'DJT 3 HOLDINGS LLC',
       'DJT Holdings Managing Member LLC', 'TRUMP CLASSIC CARS LLC',
       'TRUMP CLASSIC CARS MEMBER CORP', 'TRUMP RUFFIN TOWER I, LLC',
       'TRUMP RUFFIN TOWER I LLC', 'TRUMP RUFFIN MEZZ VENTURE LLC',
       'TRUMP RUFFIN LLC', 'TRUMP RUFFIN II LLC',
       'TRUMP RUFFIN COMMERCIAL LLC', 'THC JEDDAH HOTEL MANAGER LLC',
       'THC SG MANAGER LLC', 'TC MARKS BUENOS AIRES LLC',
       'C DEVELOPMENT VENTURES MEMBER CORP', 'C DEVELOPMENT VENTURES LLC',
       'THC DC RESTAURANT HOSPITALITY LLC',
       'MOBILE PAYROLL CONSTRUCTION MANAGER CORP',
       'DT TOWER KOLKATA MANAGING MEMBER CORP', 'DT TOWER KOLKATA LLC',
       'DT TOWER II MEMBER CORP', 'DT TOWER II LLC',
       'DT TOWER I MEMBER CORP', 'DT TOWER I LLC',
       'DT MARKS BALI MEMBER CORP', 'DT MARKS LIDO MEMBER CORP',
       'DT LIDO GOLF MANAGER LLC', 'DT LIDO GOLF MANAGER MEMBER CORP',
       'DT LIDO HOTEL MANAGER LLC', 'DT LIDO HOTEL MANAGER MEMBER CORP',
       'DT LIDO TECHNICAL SERVICES MANAGER MEMBER CORP',
       'DT JEDDAH TECHNICAL SERVICES ADVISOR MEMBER CORP',
       'DT JEDDAH TECHNICAL SERVICES ADVISOR MEMBER CORP.',
       'DT JEDDAH TECHNICAL SERVICES MANAGER LLC',
       'DT JEDDAH TECHNICAL SERVICES MANAGER MEMBER CORP',
       'DT ENDEAVOR I MEMBER CORP', 'DT BALI GOLF MANAGER LLC',
       'DT BALI GOLF MANAGER MEMBER CORP', 'DT BALI HOTEL MANAGER LLC',
       'DT BALI HOTEL MANAGER MEMBER CORP',