In [26]:
import pandas as pd
import json

In [27]:
RealPropertyMaster=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/bnx9-e6tj.json")

In [28]:
list(RealPropertyMaster)

['crfn',
 'doc_type',
 'document_amt',
 'document_date',
 'document_id',
 'good_through_date',
 'modified_date',
 'percent_trans',
 'record_type',
 'recorded_borough',
 'recorded_datetime',
 'reel_nbr',
 'reel_pg',
 'reel_yr']

In [52]:
RealPropertyMaster.head()

,crfn,doc_type,document_amt,document_date,document_id,good_through_date,modified_date,percent_trans,record_type,recorded_borough,recorded_datetime,reel_nbr,reel_pg,reel_yr
0,2017000085716,AGMT,189000.0,2017-02-17T00:00:00,2017022400727004,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,1,2017-03-03T00:00:00,0,0,0
1,2017000085697,AGMT,284710.0,2017-02-11T00:00:00,2017022800251001,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,1,2017-03-03T00:00:00,0,0,0
2,2017000085693,AGMT,555000.0,2016-10-31T00:00:00,2016110701392006,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,3,2017-03-03T00:00:00,0,0,0
3,2017000085690,AGMT,10789850.0,2016-10-28T00:00:00,2016110701392003,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,3,2017-03-03T00:00:00,0,0,0
4,2017000085686,AGMT,665000.0,2017-02-14T00:00:00,2017030300360003,2017-03-31T00:00:00,2017-03-03T00:00:00,0,A,1,2017-03-03T00:00:00,0,0,0

In [ ]:
#useful for having document ID, record type, date of transaction, and amount

In [29]:
RealPropertyLegal=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/8h5j-fqxa.json")

In [54]:
RealPropertyLegal.head()

,addr_unit,air_rights,block,borough,document_id,easement,good_through_date,lot,partial_lot,property_type,record_type,street_name,street_number,subterranean_rights
0,NaN,N,3716,2,2017032600011001,N,2017-03-31T00:00:00,50,E,D4,L,MANOR AVENUE,1039,N
1,NaN,N,3162,2,2017031001284002,N,2017-03-31T00:00:00,17,E,AP,L,CRESTON AVENUE,2200,N
2,1208,N,44,1,2017031000227002,N,2017-03-31T00:00:00,1154,E,SC,L,PINE STREET,18,N
3,1207,N,44,1,2017031000227002,N,2017-03-31T00:00:00,1153,E,SC,L,PINE STREET,20,N
4,1208,N,44,1,2017031000227001,N,2017-03-31T00:00:00,1154,E,SC,L,PINE STREET,20,N

In [30]:
list(RealPropertyLegal)

['addr_unit',
 'air_rights',
 'block',
 'borough',
 'document_id',
 'easement',
 'good_through_date',
 'lot',
 'partial_lot',
 'property_type',
 'record_type',
 'street_name',
 'street_number',
 'subterranean_rights']

In [ ]:
#has the address fo the property--tied to everything through the document ID

In [31]:
RealPropertyParties=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/636b-3b5g.json")

In [32]:
type(RealPropertyParties)

pandas.core.frame.DataFrame

In [33]:
list(RealPropertyParties)

['address_1',
 'address_2',
 'city',
 'country',
 'document_id',
 'good_through_date',
 'name',
 'party_type',
 'record_type',
 'state',
 'zip']

In [ ]:
#very import as we have the two parties that the transaction belongs to and zip code

In [73]:
RealPropertyParties.head(20)

,address_1,address_2,city,country,document_id,good_through_date,name,party_type,record_type,state,zip
0,974 E 104TH STREET,NaN,BROOKLYN,US,2017033001125002,2017-03-31T00:00:00,"UWAKWE, STELLA",1,P,NY,11236.0
1,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017033001125002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,11236.0
2,C/O EAST COAST HOLDINGS,1379 CONEY ISLAND AVENUE,BROOKLYN,US,2017032901036003,2017-03-31T00:00:00,18TH REALTY LLC,1,P,NY,11230.0
3,C/O EAST COAST HOLDINGS,1379 CONEY ISLAND AVENUE,BROOKLYN,US,2017032901036003,2017-03-31T00:00:00,1039 OCEAN AVENUE REALTY LLC,1,P,NY,11230.0
4,"275 7TH AVENUE, 14TH FLOOR",NaN,NEW YORK,US,2017032901036003,2017-03-31T00:00:00,AMALGAMATED BANK,2,P,NY,10001.0
5,2323 31ST AVE APT 5A,NaN,ASTORIA,US,2017032900792002,2017-03-31T00:00:00,JUAN MIGUEL MOSQUERA,1,P,NY,11106.0
6,2323 31ST AVE APT 5A,NaN,ASTORIA,US,2017032900792002,2017-03-31T00:00:00,"MOSQUERA, HANNAH M",1,P,NY,11106.0
7,1111 POLARIS PARKWAY,NaN,COLUMBUS,US,2017032900792002,2017-03-31T00:00:00,JPMORGAN CHASE BANK NA,2,P,OH,43240.0
8,"49 NORTH 8TH STREET, 4E",NaN,BROOKLYN,US,2017022700860003,2017-03-31T00:00:00,"BURKAN, JONAHTAN",1,P,NY,11249.0
9,"49 NORTH 8TH STREET, 4E",NaN,BROOKLYN,US,2017022700860003,2017-03-31T00:00:00,"BURKAN, JONATHAN W",1,P,NY,11249.0
10,"49 NORTH 8TH STREET, 4E",NaN,BROOKLYN,US,2017022700860003,2017-03-31T00:00:00,"BURKAN, KIMBERLY",1,P,NY,11249.0
11,1901 E VOORHEES STREET SUITE C,NaN,DANVILLE,US,2017022700860003,2017-03-31T00:00:00,MORTGAGE ELECTRONIC REGISTRATION SYSTEMS INC,2,P,IL,61834.0
12,"3611 14TH AVENUE, SUITE 603",NaN,BROOKLYN,US,2017032901331003,2017-03-31T00:00:00,660 HEGEMAN ASSOCIATES LLC,1,P,NY,11218.0
13,"200 LIBERTY STREET, 17TH FLOOR",NaN,NEW YORK,US,2017032901331003,2017-03-31T00:00:00,"SANTANDER BANK, N.A.",2,P,NY,10281.0
14,236 BEACH 147TH STREET,NaN,ROCKAWAY PARK,US,2017033001112002,2017-03-31T00:00:00,"MCGOVERN, JAMES",1,P,NY,11694.0
15,236 BEACH 147TH STREET,NaN,ROCKAWAY PARK,US,2017033001112002,2017-03-31T00:00:00,"MCGOVERN, LILLIAN",1,P,NY,11694.0
16,101 NORTH PHILLIPS AVE,NaN,SIOUX FALLS,US,2017033001112002,2017-03-31T00:00:00,WELLS FARGO BANK NA,2,P,SD,11694.0
17,191-20 115TH DRIVE,NaN,SAINT ALBANS,US,2017033001110001,2017-03-31T00:00:00,"WICKHAM, LESIA",1,P,NY,11412.0
18,191-20 115TH DRIVE,NaN,SAINT ALBANS,US,2017033001110001,2017-03-31T00:00:00,"SMITH, VIOLET",1,P,NY,11412.0
19,191-20 115TH DRIVE,NaN,SAINT ALBANS,US,2017033001110001,2017-03-31T00:00:00,"FULLER, MARLENE JOLLY",1,P,NY,11412.0

In [55]:
#Trump = RealPropertyParties[(RealPropertyParties["name"].str.contains("Trump") )]

In [36]:
#Trump.describe

<bound method NDFrame.describe of Empty DataFrame
Columns: [address_1, address_2, city, country, document_id, good_through_date, name, party_type, record_type, state, zip]
Index: []>

In [56]:
RealPropertyReferences=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/pwkr-dpni.json")

In [57]:
list(RealPropertyReferences)

['document_id',
 'good_through_date',
 'record_type',
 'reference_by_crfn_',
 'reference_by_doc_id',
 'reference_by_reel_borough',
 'reference_by_reel_nbr',
 'reference_by_reel_page',
 'reference_by_reel_year']

In [58]:
RealPropertyReferences.head()

,document_id,good_through_date,record_type,reference_by_crfn_,reference_by_doc_id,reference_by_reel_borough,reference_by_reel_nbr,reference_by_reel_page,reference_by_reel_year
0,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,448,1647,1978
1,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,466,662,1978
2,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,520,795,1980
3,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,1089,509,1986
4,2017031500459007,2017-03-31T00:00:00,X,NaN,NaN,1,2055,1544,1994

In [ ]:
#not important

In [39]:
RealPropertyRemarks=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/9p4w-7npp.json")

In [40]:
list(RealPropertyRemarks)

['document_id',
 'good_through_date',
 'record_type',
 'remark_text',
 'sequence_number']

In [66]:
RealPropertyRemarks.head()

,document_id,good_through_date,record_type,remark_text,sequence_number
0,2004021301109001,2017-03-31T00:00:00,R,PERSONAL INFORMATION IS DISPLAYED,1
1,2004082000676001,2017-03-31T00:00:00,R,BLOCK CORRECTION. CORRECTING FROM BBL 1-1171-1...,1
2,2004101501145001,2017-03-31T00:00:00,R,CORRECTION TO THE INDEX TO ADD BBL 4-14231-112...,1
3,2006080801216003,2017-03-31T00:00:00,R,BLOCK CORRECTION. CORRECTED TO ADD 1/716/1150....,1
4,2006080801216004,2017-03-31T00:00:00,R,BLOCK CORRECTION. CORRECTED TO ADD 1/716/1150....,1

In [ ]:
#not important

In [41]:
UCCCodes=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/p86i-ie45.json")

In [42]:
list(UCCCodes)

['description', 'record_type', 'ucc_collateral_code']

In [63]:
UCCCodes.head()

                                   description record_type ucc_collateral_code
0                  TRANSMITTING UTILITIES DBTR           U                   D
1  CROPS/EXTRACTED/COLLATERAL/TIMBER TO BE CUT           U                   R
2                                  COOPERATIVE           U                   C
3                               FIXTURE FILING           U                   F
4                         MANUFACTURED HOUSING           U                   M

In [43]:
StateCodes=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/egzt-wg68.json")

In [44]:
list(StateCodes)

['description', 'record_type', 'state_code']

In [62]:
StateCodes.head()

  description record_type state_code
0     ALABAMA           S         AL
1      ALASKA           S         AK
2     ARIZONA           S         AZ
3    ARKANSAS           S         AR
4  CALIFORNIA           S         CA

In [45]:
DocumentCodes=pd.read_json(path_or_buf="https://data.cityofnewyork.us/resource/x529-jt8f.json")

In [46]:
list(DocumentCodes)

['class_code_description',
 'doc__type',
 'doc__type_description',
 'party1_type',
 'party2_type',
 'party3_type',
 'record_type']

In [ ]:
#import because it tells us what the record_type means

In [67]:
DocumentCodes.head(20)

,class_code_description,doc__type,doc__type_description,party1_type,party2_type,party3_type,record_type
0,MORTGAGES & INSTRUMENTS,AGMT,AGREEMENT,PARTY 1,PARTY 2,NaN,D
1,UCC AND FEDERAL LIENS,AMFL,AMENDMENT OF FEDERAL LIEN,DEBTOR,SECURED PARTY,NaN,D
2,MORTGAGES & INSTRUMENTS,ASPM,ASSUMPTION OF MORTGAGE,MORTGAGER/BORROWER,MORTGAGEE/LENDER,NaN,D
3,MORTGAGES & INSTRUMENTS,ASST,"ASSIGNMENT, MORTGAGE",ASSIGNOR/OLD LENDER,ASSIGNEE/NEW LENDER,NaN,D
4,DEEDS AND OTHER CONVEYANCES,ASTU,UNIT ASSIGNMENT,GRANTOR/SELLER,GRANTEE/BUYER,NaN,D
5,UCC AND FEDERAL LIENS,ASUM,UCC3 ASSUMPTION,DEBTOR,SECURED PARTY,NaN,D
6,OTHER DOCUMENTS,BOND,BOND,DEBTOR,SECURED PARTY,NaN,D
7,UCC AND FEDERAL LIENS,BRUP,UCC3 BANKRUPTCY,DEBTOR,SECURED PARTY,NaN,D
8,MORTGAGES & INSTRUMENTS,CERR,CERTIFICATE OF REDUCTION,MORTGAGER/BORROWER,MORTGAGEE/LENDER,NaN,D
9,UCC AND FEDERAL LIENS,CNFL,CONTINUATION OF FEDERAL LIEN,DEBTOR,SECURED PARTY,NaN,D
10,OTHER DOCUMENTS,CERT,CERTIFICATE,PARTY 1,PARTY 2,NaN,D
11,DEEDS AND OTHER CONVEYANCES,CNTR,CONTRACT OF SALE,GRANTOR/SELLER,GRANTEE/BUYER,NaN,D
12,DEEDS AND OTHER CONVEYANCES,CODP,CONDEMNATION PROCEEDINGS,PARTY 1,NaN,NaN,D
13,OTHER DOCUMENTS,CONS,CONSENT,PARTY 1,NaN,NaN,D
14,UCC AND FEDERAL LIENS,CONT,UCC3 CONTINUATION,DEBTOR,SECURED PARTY,NaN,D
15,OTHER DOCUMENTS,CTOR,COURT ORDER,PARTY 1/GRANTOR,PARTY 2/GRANTEE,NaN,D
16,DEEDS AND OTHER CONVEYANCES,DCTO,COURT ORDER ADVERSE POSS.,PARTY 1,PARTY 2,NaN,D
17,OTHER DOCUMENTS,DECL,DECLARATION,PARTY 1,PARTY 2,NaN,D
18,DEEDS AND OTHER CONVEYANCES,DEED,DEED,GRANTOR/SELLER,GRANTEE/BUYER,NaN,D
19,MORTGAGES & INSTRUMENTS,DEMM,DECLARATION OF MODIFI OF MRT,MORTGAGER/BORROWER,MORTGAGEE/LENDER,NaN,D

In [47]:
Trump=pd.read_json(path_or_buf="https://api.opencorporates.com/v0.4/companies/search?q=Trump")

In [48]:
list(Trump)

['api_version', 'results']

In [49]:
pd.io.json.json_normalize(data)

,api_version,results.companies,results.page,results.per_page,results.total_count,results.total_pages
0,0.4,"[{'company': {'incorporation_date': None, 'cur...",1,30,3084,103

In [50]:
with open('Trump_2.json') as data_file:    
    data = json.load(data_file)

In [64]:
pd.io.json.json_normalize(data)

,api_version,results.companies,results.page,results.per_page,results.total_count,results.total_pages
0,0.4,"[{'company': {'incorporation_date': None, 'cur...",1,30,3084,103

In [ ]:
pd.io.json.json_normalize(data, "company",[
          "name" ,
          "company_number" ,
          "jurisdiction_code",
          "incorporation_date",
          "dissolution_date",
          "company_type",
          "registry_url",
          "branch_status",
          "inactive",
          "current_status",
          "created_at",
          "updated_at",
          "retrieved_at",
          "opencorporates_url",
          "previous_names"])

In [69]:
Trump_3=pd.read_csv("Trump.csv")

In [72]:
Trump_3.head(20)

,company/name,company/company_number,company/jurisdiction_code,company/incorporation_date,company/dissolution_date,company/company_type,company/registry_url,company/branch_status,company/inactive,company/current_status,...,company/registered_address/postal_code,company/registered_address/country,company/registered_address_in_full,company/restricted_for_marketing,company/native_company_number,company/registered_address,company/previous_names/0/company_name,company/previous_names/0/start_date,company/previous_names/1/company_name,company/previous_names/1/start_date
0,"""CAST & TRUMP SRL""",23065602,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Braşov"", ""Braşov""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"""IQ BUSINESS TRUMP SRL""",22913461,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 2"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"""TRUMP ALEGRA SRL""",28050793,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Oradea"", ""Bihor""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"""TRUMP CONSTRUCT DEVELOPMENT SRL""",33928808,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 5"", Romania",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"""TRUMP HOLDINGS SRL""",17888973,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 4"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"""TRUMP IMPEX SRL""",1573421,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 4"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"""TRUMP INVEST ASSET MANAGEMENT SRL""",26078011,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 4"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"""TRUMP INVEST SRL""",4361830,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 1"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"""TRUMP ROMANIA SRL""",13207912,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Bucureşti Sectorul 1"", ""Bucureşti""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"""TRUMP SRL""",14574763,ro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Romania,"""Sebeş"", ""Alba""",NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"1004 HOLLYWOOD TRUMP, LLC",L10000030140,us_fl,2010-03-18,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"11 No Trump, LLC",LC1223016,us_mo,2012-04-25,NaN,Limited Liability Company,https://bsd.sos.mo.gov/BusinessEntity/Business...,NaN,False,Active,...,NaN,United States,"702 NE Burning Tree St\nLee's Summit, MO 64064",NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1203 TRUMP LLC,L06000027664,us_fl,2006-03-15,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"18201 TRUMP ROYALE, LLC",L09000107069,us_fl,2009-11-05,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,200 EAST 69TH 17A LLC,4657553,us_ny,2014-10-28,NaN,DOMESTIC LIMITED LIABILITY COMPANY,https://appext20.dos.ny.gov/corp_public/CORPSE...,NaN,False,Active,...,10901.0,United States,"29 CLAREMONT LANE, SUFFERN, NEW YORK, 10901",NaN,NaN,NaN,200 EAST 69TH 17A LLC,2014-11-12,TRUMP 17A LLC,2014-10-28
15,200 RSB 33 LLC,4633501,us_ny,2014-09-09,NaN,DOMESTIC LIMITED LIABILITY COMPANY,https://appext20.dos.ny.gov/corp_public/CORPSE...,NaN,False,Active,...,10012.0,United States,"15 WEST 44TH STREET, 12TH FLOO, NEW YORK, NEW ...",NaN,NaN,NaN,200 RSB 33 LLC,2014-10-29,"TRUMP RIVERSIDE ACQUISITION, LLC",2014-09-09
16,200 TRUMP VALET SERVICE INC.,3863661,us_ny,2009-10-05,2016-06-29,DOMESTIC BUSINESS CORPORATION,https://appext20.dos.ny.gov/corp_public/CORPSE...,NaN,True,Inactive Dissolution By Proclamation / Annul...,...,NaN,United States,"200 RIVERSIDE BLVD, NEW YORK, NEW YORK, 10069",NaN,NaN,NaN,200 TRUMP VALET SERVICE INC.,2009-10-05,NaN,NaN
17,"2207 TRUMP, LLC",L11000083785,us_fl,2011-07-21,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,25C WORLD TOWER CORP.,3117330,us_ny,2004-10-22,NaN,DOMESTIC BUSINESS CORPORATION,https://appext20.dos.ny.gov/corp_public/CORPSE...,NaN,False,Active,...,NaN,United States,"20 CEDAR ST, NEW ROCHELLE, NEW YORK, 10801",NaN,NaN,NaN,25C WORLD TOWER CORP.,2005-01-04,25C TRUMP WORLD TOWER CORP.,2004-10-22
19,"2601 TRUMP TOWERS III, LLC.",L11000095896,us_fl,2011-08-22,NaN,Florida Limited Liability,NaN,NaN,True,Inactive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN